<!doctype html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Potree</title>
    <style>

    </style>

</head>
<body>

<div class="container">

    Upload a LAS file to visualize in Potree:
    <form method="post" action="/" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="customFile" onchange="form.submit()">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </form>




</div>


</body>
</html>

